@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@plugin "flowbite-react/plugin/tailwindcss";

@source "../.flowbite-react/class-list.json";

@theme {
    --font-logo: "Playwrite PL", sans-serif;
    --font-primary: "Rubik", sans-serif;
}

@layer base {
    body {
        @apply font-primary;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    h5 {
        @apply text-base;
    }

    h6 {
        @apply text-sm;
    }
}

@layer utilities {
    .container {
        @apply mx-auto px-4 sm:px-6 lg:px-8;
    }
}